.container {
  padding: 20 10;
  border-bottom-color: #e0e0e0;
  border-bottom-width: 0.5;
  background-color: #fbfbfb;
  color: #787878;
  font-size: 16;
}

.label {
  font-weight: bold;
  margin-bottom: 5;
}

.add-icon {
  width: 16;
  margin-left: 8;
}

.customize {
  background-color: #ff5439;
  color: white;
  height: 25;
  font-size: 12;
  margin-left: 25;
}
