
.action-bar {
  background-color: #29bf25;
  height: 50;
}

.header {
  background-color: #413d3a;
  color: white;
  padding: 12;
  font-weight: bold;
}

.header Image {
  width: 30;
}

.header Label {
  margin: 0 3;
}

.header .count {
  border-color: white;
  border-width: 1.5;
  border-radius: 100;
  padding: 0 4;
}

.details {
  height: 44;
  border-bottom-color: #e0e0e0;
  border-bottom-width: 0.5;
}

.arrow-img {
  padding: 13;
  margin-right: 10;
}

.drop-block-cell {
  padding: 10;
  border-bottom-color: #e0e0e0;
  border-bottom-width: 0.5;
  background-color: #f8f8f8;
  color: #3e3e3e;
}
