.info-wrapper {
    width: 100%;
    padding: 15;
    label {
        margin-right: 10;
    }
}

.text-wrapper {
    padding: 15;
    font: 15;
    Button {
        padding: 10 0 0 0;
        text-align: left;
    }
}