
.radio-box {
  height: 50;
  padding-left: 10;
  background-color: #ffffff;
  border-bottom-color: #d0d0d0;
  border-bottom-width: 0.5;
  color: #575959;
}

.radio-icon {
  width: 20;
  height: 20;
  border-radius: 10;
  background-color: #efeeef;
}

.radio-icon.selected {
  background-color: #26bf22;
}

Label {
  margin-left: 10;
}
